*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
}

header, footer {
    height: 12.5dvh;
    background: salmon;
    clear: both;
}

section {
    height: 25dvh;
    background: lightsalmon;
    border: 2px solid salmon;
}

@media (min-width: 600px) {
    section {
        width: 50%;
        float: left;
    }
}

@media (min-width: 900px) {
    section {
        width: 33.3333%;
    }
}