*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

a:link,
a:visited {
    color: gray;
}

nav {
    width: 15%;
    padding-left: 1em;
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
}

main {
    padding: 1.5em 0 2em 0;
}

main,
main + section {
    width: 80%;
    float: right;
}

input {
    width: 55%;
}

nav form {
    position: relative;
}

button {
    background: none;
    outline: none;
    border: none;
}

.search-logo {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    right: 85px;
}

main,
main::before,
main::after {
    clear: both;
}

main figure {
    width: 50%;
    float: left;
}

main section {
    width: 50%;
    float: right;
}

li {
    margin: 0.5em 0;
}

li a:hover,
li a:focus {
    color: skyblue;
}

.login {
    margin-bottom: 1.5em;
}

.logo-container {
    width: 100%;
    height: 13%;
    overflow: hidden;
}

.logo-container img {
    width: 100%;
    height: 100%;
}

td {
    vertical-align: top;
}

td img {
    width: 10rem;
    height: 10rem;
}

td h2 {
    margin-bottom: 1em;
}

td {
    padding: 1em;
}

@media screen and (max-width: 768px) {
    main figure {
        width: 100%;
        float: none;
        margin: 2em 0;
    }
    
    main section {
        width: 100%;
        float: none;
        margin: 2em 0;
    }
}
